@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color-scheme: light;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: theme('colors.ink.50');
  font-family: theme('fontFamily.sans');
  color: theme('colors.ink.900');
}

#root {
  min-height: 100vh;
}
