@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color-scheme: light;
  }

  body {
    margin: 0;
    min-width: 320px;
    background-color: #fdf7f2;
    background-image: radial-gradient(#ffe8f8 1px, transparent 1px),
      radial-gradient(#c6f5ff 1px, transparent 1px);
    background-size: 28px 28px;
    background-position: 0 0, 14px 14px;
    font-family: "Inter var", Inter, system-ui, sans-serif;
    color: #1f1d2b;
  }

  #root {
    min-height: 100vh;
  }
}
